@import './base.css';
@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootscrollgutter, rootcolor;
}

@layer theme, base, components, utilities;

@layer theme {
  :root {
    --color-blue-100: #00253c;
    --color-blue-300: #040913;
    --color-neutral-300: #6B7280;

    --text-size-xl: 1.25rem;
    --text-size-2xl: 1.5rem;
    --text-font: "Inter", sans-serif;
    --font-mono: "IBM Plex Mono", monospace;
  }
}

@layer base {
  html, body {
    color: #fff;
    background-image: linear-gradient(to right, #040913, #00253c, #040913);
    font-family: var(--font-sans);
  }

  h1 {
    font-size: 2xl;
    font-weight: light;
  }

}

@layer components {
  .contact-btn {
    @apply btn bg-neutral-100 text-blue-300 p-6 rounded-full border-none hover:bg-neutral-100/50;
  }
}

:root,
[data-theme] {
  background-color: var(--root-bg, var(--color-blue-100));
  color: var(--color-blue-100);
}
